Importing the necessary libraries

In [44]:
import pandas as pd
import datetime as dt
from datetime import datetime
import pandas_market_calendars as mcal
import requests
from bs4 import BeautifulSoup
import re
import csv

For each sector, creating two dictionaries: one with ticker as key and stock timeseries dataframe as value, other one with ticker as key and company name as value. 

Sector to ticker mapping data has been obtained using web scraping from https://www.stockmonitor.com/sectors/

In [45]:
def create_dfs(ticker_csv):
    df_dict = {}
    ticker_cmpny = {}
    ticker = pd.read_csv(ticker_csv) 
    for ticker,company_name in zip(ticker['Ticker'],ticker['Company_Name']):
        filename = "Data/Stocks/" + ticker.lower() + ".us.txt"
        ticker_name = ticker
        compny_name = company_name
        try:
            compny_df = pd.read_csv(filename)
            compny_df.set_index('Date',inplace = True)
            compny_df.index = pd.to_datetime(compny_df.index)
            df_dict[ticker_name] = compny_df
            ticker_cmpny[ticker_name] = compny_name
        except FileNotFoundError:
            pass
        except EmptyDataError:
            print ("file " + filename + " is empty !!!")
            
    return (df_dict,ticker_cmpny)

"""    
communication_sector_dfs, = create_dfs("communication_service_ticker.csv")
materials_sector_dfs = create_dfs("materials_ticker.csv")
consumer_cyclical_dfs = create_dfs("consumer_cyclical_ticker.csv")
consumer_defensive_dfs = create_dfs("consumer_defensive_ticker.csv")
energy_sector_dfs = create_dfs("energy_ticker.csv")
financial_service_dfs = create_dfs("financial_ticker.csv")
healthcare_sector_dfs = create_dfs("healthcare_ticker.csv")
industrial_sector_dfs=create_dfs("industrial_ticker.csv")
technology_sector_dfs=create_dfs("technology_ticker.csv")
utility_sector_dfs=create_dfs("utility_ticker.csv")
"""

consumer_cyclical_dfs, ticker_cmpny_dict = create_dfs("consumer_cyclical_ticker.csv")

print(consumer_cyclical_dfs, ticker_cmpny_dict)

{'AAN':               Open    High     Low   Close   Volume  OpenInt
Date
2005-02-25  12.920  13.470  12.920  13.295   933743        0
2005-02-28  13.371  13.470  13.118  13.381   683911        0
2005-03-01  13.371  13.794  13.342  13.734   624585        0
2005-03-02  13.607  14.038  13.568  13.822   387289        0
2005-03-03  13.891  13.891  13.450  13.627   362061        0
...            ...     ...     ...     ...      ...      ...
2017-11-06  36.280  36.570  35.570  35.590  1029506        0
2017-11-07  35.720  35.720  34.290  34.440  1149793        0
2017-11-08  35.510  36.090  34.800  35.990  1805497        0
2017-11-09  35.680  35.860  35.230  35.620   979951        0
2017-11-10  37.600  38.060  36.260  36.590  1214968        0

[3201 rows x 6 columns], 'ANF':               Open    High      Low   Close   Volume  OpenInt
Date
2005-02-25  44.731  44.928  44.3330  44.712   883668        0
2005-02-28  44.722  44.936  43.8890  44.274  1057227        0
2005-03-01  44.274  46.041  44.2740  45.941  1608214        0
2005-03-02  46.305  47.147  46.2310  46.643  2298559        0
2005-03-03  48.315  48.323  45.6790  45.919  3798101        0
...            ...     ...      ...     ...      ...      ...
2017-11-06  11.880  12.170  11.7200  11.900  2098225        0
2017-11-07  11.900  11.900  11.6300  11.690  1991519        0
2017-11-08  11.630  12.010  11.6150  11.720  2167171        0
2017-11-09  12.180  12.550  12.1800  12.180  2886580        0
2017-11-10  12.230  12.845  12.1608  12.560  2689301        0

[3201 rows x 6 columns], 'GOLF':               Open     High     Low   Close   Volume  OpenInt
Date
2016-10-28  17.586  17.6360  17.586  17.586  7047050        0
2016-10-31  17.714  17.7140  17.057  17.057   475012        0
2016-11-01  17.037  17.3960  16.803  17.107   598127        0
2016-11-02  16.861  17.2540  16.803  17.107   305342        0
2016-11-03  16.880  17.0860  16.852  16.950   188682        0
...            ...      ...     ...     ...      ...      ...
2017-11-06  18.150  18.3400  18.040  18.120   110585        0
2017-11-07  18.110  18.1553  17.891  18.000   310781        0
2017-11-08  17.750  18.4200  17.600  18.260   533791        0
2017-11-09  18.280  18.8200  18.240  18.740   586513        0
2017-11-10  18.800  19.3499  18.460  19.220   465176        0

[262 rows x 6 columns], 'AAP':               Open    High     Low   Close   Volume  OpenInt
Date
2005-02-25  32.994  33.388  32.994  33.289   625774        0
2005-02-28  33.299  33.299  32.699  33.052   576995        0
2005-03-01  33.209  33.516  33.209  33.407   845445        0
2005-03-02  33.318  34.181  33.061  34.103  1320913        0
2005-03-03  34.103  34.428  33.975  34.044   896209        0
...            ...     ...     ...     ...      ...      ...
2017-11-06  81.530  81.810  80.310  80.710  1173581        0
2017-11-07  80.660  80.660  78.900  79.380  1261581        0
2017-11-08  79.200  80.620  78.810  79.410  3233316        0
2017-11-09  79.560  81.090  79.140  80.450  1898508        0
2017-11-10  80.160  81.990  80.000  81.220  1941881        0

[3201 rows x 6 columns], 'AIN':               Open    High     Low   Close  Volume  OpenInt
Date
2005-02-25  28.992  29.044  28.691  28.965  137893        0
2005-02-28  28.804  29.070  28.324  28.324  276687        0
2005-03-01  28.413  29.035  28.413  28.983  188218        0
2005-03-02  28.983  29.291  28.822  29.104  106462        0
2005-03-03  29.156  29.386  29.008  29.104  132880        0
...            ...     ...     ...     ...     ...      ...
2017-11-06  59.050  60.000  59.050  59.900   64016        0
2017-11-07  59.850  59.950  59.250  59.300   61448        0
2017-11-08  58.900  59.150  58.150  58.900  100919        0
2017-11-09  58.650  59.050  58.650  58.650   71922        0
2017-11-10  58.500  59.050  58.350  58.550   71969        0

[3201 rows x 6 columns], 'BABA':               Open    High     Low   Close     Volume  OpenInt
Date
2014-09-19   92.70   99.70   89.95   93.89  271831625        0
2014-09-22   92.70   92.95   89.50   89.89   66628862        0
2014-09-23   89.00   90.48   86.62   87.17   38984872        0
2014-09-24   88.47   90.57   87.22   90.57   32016559        0
2014-09-25   91.09   91.50   88.50   88.92   28584828        0
...            ...     ...     ...     ...        ...      ...
2017-11-06  184.07  188.25  184.00  187.84   19837414        0
2017-11-07  189.58  189.86  187.00  188.51   17748403        0
2017-11-08  187.98  188.15  185.10  185.90   13931753        0
2017-11-09  184.21  185.13  181.05  185.13   19728600        0
2017-11-10  186.41  187.17  186.41  186.41   14991960        0

[794 rows x 6 columns], 'ALSN':               Open    High     Low   Close    Volume  OpenInt
Date
2012-03-15  20.846  21.297  20.571  21.206  15369537        0
2012-03-16  21.431  22.592  21.344  22.249   2276329        0
2012-03-19  22.202  22.656  21.806  22.522   1075601        0
2012-03-20  22.392  22.838  21.977  22.476    490314        0
2012-03-21  22.340  22.819  21.868  21.977    863204        0
...            ...     ...     ...     ...       ...      ...
2017-11-06  43.860  44.000  43.410  43.840   1586881        0
2017-11-07  43.750  44.000  43.620  43.820   1226549        0
2017-11-08  43.620  43.880  43.240  43.680   1012289        0
2017-11-09  43.670  44.130  43.130  43.170   1520728        0
2017-11-10  43.000  43.570  43.000  43.300   1018315        0

[1426 rows x 6 columns], 'AMZN':                Open     High      Low    Close    Volume  OpenInt
Date
1997-05-16     1.97     1.98     1.71     1.73  14700000        0
1997-05-19     1.76     1.77     1.62     1.71   6106800        0
1997-05-20     1.73     1.75     1.64     1.64   5467200        0
1997-05-21     1.64     1.65     1.38     1.43  18853200        0
1997-05-22     1.44     1.45     1.31     1.40  11776800        0
...             ...      ...      ...      ...       ...      ...
2017-11-06  1109.15  1125.41  1108.77  1120.66   3331738        0
2017-11-07  1124.74  1130.60  1117.50  1123.17   2684443        0
2017-11-08  1122.82  1135.54  1119.11  1132.88   2576010        0
2017-11-09  1125.96  1129.62  1115.77  1129.13   3729978        0
2017-11-10  1126.10  1131.75  1124.06  1125.35   2179181        0

[5153 rows x 6 columns], 'AXL':              Open   High    Low  Close   Volume  OpenInt
Date
2005-02-25  26.11  26.58  26.11  26.56   682700        0
2005-02-28  26.48  26.60  26.30  26.42   415300        0
2005-03-01  26.37  26.89  26.37  26.83   536900        0
2005-03-02  26.25  26.26  25.04  25.50  2656000        0
2005-03-03  25.50  25.55  24.88  25.18  1299100        0
...           ...    ...    ...    ...      ...      ...
2017-11-06  19.13  19.43  18.35  18.36  2205251        0
2017-11-07  18.36  18.52  17.71  17.91  2391952        0
2017-11-08  17.43  17.92  17.43  17.56  7621392        0
2017-11-09  17.41  17.70  17.33  17.67  4304454        0
2017-11-10  17.52  17.58  17.35  17.45  4602464        0

[3201 rows x 6 columns], 'AMWD':               Open    High     Low   Close  Volume  OpenInt
Date
2005-02-25  37.876  38.173  36.657  38.173  117479        0
2005-02-28  37.400  37.400  36.162  36.469   68063        0
2005-03-01  36.816  37.707  36.142  36.657   70730        0
2005-03-02  35.954  37.172  35.775  36.518   87523        0
2005-03-03  37.004  37.004  36.162  36.509   52130        0
...            ...     ...     ...     ...     ...      ...
2017-11-06  93.150  93.600  92.550  92.700  133281        0
2017-11-07  92.750  92.750  91.400  91.950   78745        0
2017-11-08  91.700  92.275  90.250  90.800  129717        0
2017-11-09  90.550  90.550  89.100  89.750  115297        0
2017-11-10  89.650  89.800  88.800  89.000   86005        0

[3201 rows x 6 columns], 'ARMK':               Open    High     Low   Close    Volume  OpenInt
Date
2013-12-12  19.415  22.457  19.274  21.768  17927820        0
2013-12-13  22.056  23.569  21.997  22.849   2387874        0
2013-12-16  23.014  23.014  21.822  22.727    601970        0
2013-12-17  22.332  22.745  22.112  22.494    228810        0
2013-12-18  22.476  23.032  22.158  23.014    867546        0
...            ...     ...     ...     ...       ...      ...
2017-11-06  43.600  43.800  43.330  43.450    834016        0
2017-11-07  43.340  43.500  42.940  43.250    933259        0
2017-11-08  43.130  43.390  42.970  43.330    882498        0
2017-11-09  43.110  43.110  42.590  42.750   1808042        0
2017-11-10  42.930  43.000  42.450  42.680   1473282        0

[987 rows x 6 columns], 'FUV':               Open    High     Low   Close  Volume  OpenInt
Date
2017-09-22  5.8500  6.0000  5.5100  5.5400  112874        0
2017-09-25  5.6500  5.6500  4.4500  4.8500  100081        0
2017-09-26  5.1400  5.1400  4.4500  4.4500   85968        0
2017-09-27  4.5600  4.8400  3.6000  4.7900  160837        0
2017-09-28  4.9500  5.0000  4.5000  4.8000   78775        0
2017-09-29  4.9000  5.1010  4.2400  4.9600   44782        0
2017-10-02  5.2300  5.5000  4.6745  5.2500   63369        0
2017-10-03  5.5000  5.5620  5.0108  5.1900   50407        0
2017-10-04  5.4600  5.4700  5.0100  5.2500   15177        0
2017-10-05  5.4600  5.4600  5.0500  5.1500   33244        0
2017-10-06  5.0000  5.4000  4.7500  4.7600   50770        0
2017-10-09  4.9700  5.2600  4.7300  5.2400   28324        0
2017-10-10  5.0500  5.1000  4.9000  4.9085   11690        0
2017-10-11  5.5000  5.5000  4.6700  4.7400   29961        0
2017-10-12  4.7161  4.8000  4.5100  4.6400   16855        0
2017-10-13  4.6900  4.8000  4.5600  4.5900   37103        0
2017-10-16  4.7800  4.8600  4.3800  4.3800   27469        0
2017-10-17  4.5000  4.5000  4.0000  4.2400   46879        0
2017-10-18  4.4000  4.4000  3.8500  3.9700   41738        0
2017-10-19  3.9300  4.9700  3.8501  3.8600   28120        0
2017-10-20  4.1600  4.1671  3.8500  4.1500   54556        0
2017-10-23  4.3000  4.6100  4.0060  4.4100   50812        0
2017-10-24  4.4600  4.5728  4.1515  4.4200   57391        0
2017-10-25  4.5100  4.6000  4.3000  4.6000   38253        0
2017-10-26  4.7500  4.7900  4.5100  4.7900   20711        0
2017-10-27  4.8204  4.8204  4.2243  4.6000   27371        0
2017-10-30  4.5300  4.7700  4.3000  4.3100   20080        0
2017-10-31  4.3200  4.4892  4.2000  4.2200   41032        0
2017-11-01  4.2500  4.4400  4.2400  4.4400   53723        0
2017-11-02  4.4900  4.4900  4.1000  4.2700   24016        0
2017-11-03  4.2250  4.3800  4.0200  4.1800   14276        0
2017-11-06  4.3000  4.3000  3.9500  4.1700   19700        0
2017-11-07  4.0200  4.1500  3.9000  4.0500   61675        0
2017-11-08  4.0300  4.0890  3.6500  3.8000   40740        0
2017-11-09  3.9900  3.9900  3.7500  3.7557   28419        0
2017-11-10  3.9000  3.9800  3.8268  3.9800   28125        0, 'ARCO':               Open    High     Low   Close    Volume  OpenInt
Date
2011-04-19  21.516  23.178  21.154  22.966  11912845        0
2011-04-20  23.957  24.098  22.101  22.323   6315638        0
2011-04-21  22.380  22.473  21.256  21.981   2591289        0
2011-04-25  21.961  22.138  21.422  21.879   1259748        0
2011-04-26  22.166  22.194  21.126  21.246   1887331        0
...            ...     ...     ...     ...       ...      ...
2017-11-06  10.300  10.375  10.100  10.300    458511        0
2017-11-07  10.260  10.500   9.900   9.960    536518        0
2017-11-08  10.050  10.500  10.000  10.450    820125        0
2017-11-09  10.500  10.600  10.350  10.500    314802        0
2017-11-10  10.450  10.600  10.050  10.250    391493        0

[1654 rows x 6 columns], 'ALV':                Open     High      Low    Close  Volume  OpenInt
Date
2005-02-25   42.771   42.866   42.293   42.857  458936        0
2005-02-28   42.986   42.986   42.429   42.635  269646        0
2005-03-01   42.789   43.265   42.789   43.070  409738        0
2005-03-02   41.663   42.660   41.575   42.473  686528        0
2005-03-03   42.771   42.815   42.573   42.643  508716        0
...             ...      ...      ...      ...     ...      ...
2017-11-06  125.430  125.950  124.960  125.210  322622        0
2017-11-07  125.630  125.990  124.925  125.460  274878        0
2017-11-08  124.870  125.320  123.630  125.070  253610        0
2017-11-09  123.710  124.240  122.460  123.400  362597        0
2017-11-10  123.030  123.700  123.020  123.440  385246        0

[3201 rows x 6 columns], 'AN':              Open     High     Low  Close   Volume  OpenInt
Date
1992-03-03   5.46   5.5800   5.460   5.46     6700        0
1992-03-04   5.58   5.5800   5.460   5.58     3100        0
1992-03-05   5.46   5.5800   5.350   5.46    12800        0
1992-03-06   5.52   5.5200   5.350   5.52     3900        0
1992-03-09   5.35   5.5200   5.350   5.52     1100        0
...           ...      ...     ...    ...      ...      ...
2017-11-06  53.94  54.9400  53.860  54.46  1371614        0
2017-11-07  54.10  54.5799  52.470  52.92  1707380        0
2017-11-08  52.85  52.8700  51.335  51.97  1131610        0
2017-11-09  51.81  52.4800  50.920  51.45  1018626        0
2017-11-10  51.18  52.5500  51.110  52.48  1432513        0

[6460 rows x 6 columns], 'AZO':               Open    High      Low   Close   Volume  OpenInt
Date
1991-04-02    6.88    7.38    6.560    7.34  9147200        0
1991-04-03    7.28    7.34    6.880    7.31  3403200        0
1991-04-04    7.28    7.28    7.090    7.22   831200        0
1991-04-05    7.12    7.19    7.090    7.12   457200        0
1991-04-08    7.06    7.19    6.880    7.12   608800        0
...            ...     ...      ...     ...      ...      ...
2017-11-06  605.91  613.00  602.060  607.00   285368        0
2017-11-07  606.20  609.88  598.835  603.56   215570        0
2017-11-08  603.32  609.40  595.440  596.03   292251        0
2017-11-09  595.92  606.77  591.510  605.97   437142        0
2017-11-10  604.22  607.79  594.780  598.06   447849        0

[6706 rows x 6 columns], 'BLL':                Open     High      Low    Close   Volume  OpenInt
Date
1984-09-07   0.6036   0.6083   0.6036   0.6036    96721        0
1984-09-10   0.6036   0.6036   0.5988   0.6036    45809        0
1984-09-11   0.6036   0.6083   0.6036   0.6036    67874        0
1984-09-12   0.6036   0.6083   0.5988   0.6036    71261        0
1984-09-13   0.6036   0.6059   0.5988   0.6059    30539        0
...             ...      ...      ...      ...      ...      ...
2017-11-06  41.8200  41.8200  41.1550  41.4500  2752961        0
2017-11-07  41.5000  41.7100  41.0400  41.0500  2244474        0
2017-11-08  41.0500  41.1600  40.6700  40.7400  3323242        0
2017-11-09  40.4500  40.7850  40.1400  40.3200  2857139        0
2017-11-10  40.2300  40.2700  39.9400  39.9800  2826219        0

[8363 rows x 6 columns], 'BZUN':              Open   High    Low    Close   Volume  OpenInt
Date
2015-05-21  10.25  10.89   9.23  10.4400  9553300        0
2015-05-22  10.80  11.22  10.50  11.0800  2806600        0
2015-05-26  11.40  13.70  11.20  12.7800  4895688        0
2015-05-27  13.58  14.77  12.05  12.2400  4104200        0
2015-05-28  11.84  12.39  11.40  11.8800  1768037        0
...           ...    ...    ...      ...      ...      ...
2017-11-06  31.25  32.62  31.23  32.4100  1196874        0
2017-11-07  32.60  33.74  32.32  32.4950  1583982        0
2017-11-08  32.45  33.25  32.02  32.8500  1480635        0
2017-11-09  32.35  32.79  31.72  32.3100   988811        0
2017-11-10  32.50  32.97  31.58  32.8538  1456607        0

[626 rows x 6 columns], 'BNED':              Open   High      Low  Close   Volume  OpenInt
Date
2015-08-04  12.85  13.38  12.8000  12.94   983100        0
2015-08-05  13.12  13.22  12.7900  13.13   827500        0
2015-08-06  13.37  13.60  12.5700  12.59  1308892        0
2015-08-07  12.59  13.13  11.7500  11.80   999700        0
2015-08-10  11.81  12.92  11.8100  12.71  2369000        0
...           ...    ...      ...    ...      ...      ...
2017-11-06   5.26   5.39   5.2001   5.30   228605        0
2017-11-07   5.33   5.33   5.0200   5.08   284935        0
2017-11-08   5.02   5.15   4.9900   5.10   325591        0
2017-11-09   5.11   5.22   5.0900   5.18   250709        0
2017-11-10   5.22   5.38   5.2000   5.28   232545        0

[575 rows x 6 columns], 'BBBY':                Open     High      Low    Close    Volume  OpenInt
Date
1992-06-05   1.0969   1.1361   1.0283   1.0381  79289838        0
1992-06-08   1.0675   1.0675   1.0087   1.0087  13329607        0
1992-06-09   1.0381   1.0577   1.0087   1.0283   8526440        0
1992-06-10   1.0087   1.0283   0.9794   0.9794   4845644        0
1992-06-11   0.9794   0.9989   0.9597   0.9694   5087436        0
...             ...      ...      ...      ...       ...      ...
2017-11-06  19.5100  20.2200  19.3100  19.9800   3723880        0
2017-11-07  20.0300  20.0300  19.0700  19.2600   4599714        0
2017-11-08  19.3500  19.5200  19.1000  19.4900   2886990        0
2017-11-09  19.3900  20.3548  19.3900  20.1500   3152139        0
2017-11-10  20.1700  20.3800  19.9800  20.0200   3134958        0

[6406 rows x 6 columns], 'BBY':                 Open      High       Low     Close    Volume  OpenInt
Date
1985-04-19   0.13783   0.13783   0.13783   0.13783  16185594        0
1985-04-22   0.13783   0.13783   0.13783   0.13783   3888946        0
1985-04-23   0.13783   0.13783   0.13783   0.13783   7088069        0
1985-04-24   0.13783   0.13783   0.13783   0.13783   2969194        0
1985-04-25   0.12962   0.12962   0.12149   0.12149   7967830        0
...              ...       ...       ...       ...       ...      ...
2017-11-06  56.76000  57.26000  56.22000  56.39000   3735736        0
2017-11-07  56.59000  56.70000  54.65000  55.13000   3493890        0
2017-11-08  55.02000  56.78000  54.72000  56.55000   3571334        0
2017-11-09  56.16000  56.49000  55.27000  55.93000   3543907        0
2017-11-10  56.19000  57.05000  56.00780  56.68000   3899440        0

[8211 rows x 6 columns], 'BGFV':               Open     High     Low   Close   Volume  OpenInt
Date
2005-02-25  18.836  19.2340  18.764  19.211   108494        0
2005-02-28  19.009  19.2110  18.395  18.450   243253        0
2005-03-01  18.733  19.0370  18.403  19.024   194848        0
2005-03-02  19.037  19.8580  19.015  19.769   463734        0
2005-03-03  19.762  19.7620  18.959  19.440   392826        0
...            ...      ...     ...     ...      ...      ...
2017-11-06   6.500   6.5500   6.050   6.050  2416392        0
2017-11-07   6.150   6.2500   6.000   6.250  2329530        0
2017-11-08   6.150   6.3000   6.000   6.200   976301        0
2017-11-09   6.200   6.2763   6.050   6.250   754427        0
2017-11-10   6.200   6.6000   6.200   6.450   863017        0

[3201 rows x 6 columns], 'BH':               Open    High     Low   Close  Volume  OpenInt
Date
2005-02-25  384.00  390.00  380.20  388.40    2560        0
2005-02-28  390.40  390.40  376.80  382.60    4790        0
2005-03-01  380.60  393.40  380.60  393.00    5070        0
2005-03-02  395.80  402.00  388.00  388.00    4910        0
2005-03-03  388.00  399.20  388.00  395.20    3165        0
...            ...     ...     ...     ...     ...      ...
2017-11-06  342.03  342.17  324.81  338.47   15914        0
2017-11-07  337.21  348.05  337.21  338.31   11314        0
2017-11-08  337.26  340.79  331.00  334.75   17976        0
2017-11-09  336.28  358.11  336.28  355.32    6926        0
2017-11-10  356.44  356.50  345.76  350.00    4833        0

[3201 rows x 6 columns], 'BLMN':               Open    High     Low   Close    Volume  OpenInt
Date
2012-08-08  11.092  12.505  11.063  11.866  11442501        0
2012-08-09  11.979  13.069  11.962  12.898   1632617        0
2012-08-10  13.386  13.386  12.237  12.295   1119650        0
2012-08-13  12.345  12.523  11.952  12.345    413177        0
2012-08-14  12.476  12.486  12.290  12.365    512839        0
...            ...     ...     ...     ...       ...      ...
2017-11-06  17.049  17.338  16.651  16.860   1900263        0

Cleaning the data by finding out the missing days in stock market time series. We have compared the the time series dates with New York Stock Exchange (NYSE) open dates. If any company has more than passed in missing days limit, we have dropped the company for further analysis, otherwise we have merged the time series dataframe with the NYSE data frame using right join and finally impute the missing days with 'ffill' method.

In [46]:
def extract_missing_days(df1, df2, missing_days_dict):
            missing_days_list = []
            for missing_days in df1.index.difference(df2.index):
                    #print (missing_days)
                    missing_days_list.append(missing_days)
            missing_days_dict[keys] = missing_days_list
            #print (missing_days_dict)

def probe_missing_data(df, missing_days_limit, missing_days_dict=None):
    list_missing_data_gt_limit = []
    nyse = mcal.get_calendar('NYSE')
    for keys in df:
        start_date = pd.to_datetime(df[keys].index.min())
        end_date = pd.to_datetime(df[keys].index.max())
        
        #create a df for nyse open days with date as index
        nyse_open_days = nyse.schedule(start_date=start_date.strftime('%Y-%m-%d'), end_date=end_date.strftime('%Y-%m-%d'))
        date_index = nyse_open_days['market_open'].index 
        df_nyse = pd.DataFrame()
        df_nyse.index = date_index
        
        #checking if nyse open days equal to the stock price time series 
        if len(nyse_open_days) == df[keys].shape[0]:
            continue
        else:
            if missing_days_dict:
                extract_missing_days(df_nyse, df[keys], missing_days_dict)
            if len(nyse_open_days) - df[keys].shape[0] >= missing_days_limit:
                list_missing_data_gt_limit.append(keys)
            else:
                merged_df = df[keys].merge(df_nyse, how = 'right', right_index = True, left_index = True)
                merged_df.fillna(method = 'ffill',inplace = True)
                #print (merged_df.isna().sum())
                df[keys] = merged_df
                #print (len(nyse_open_days),df[keys].shape[0] )
    
    #print(len(list_missing_data))
    for ele in list_missing_data_gt_limit:
        del df[ele]
    return df

probe_missing_data(consumer_cyclical_dfs, 100)

{'AAN':               Open    High     Low   Close     Volume  OpenInt
 2005-02-25  12.920  13.470  12.920  13.295   933743.0      0.0
 2005-02-28  13.371  13.470  13.118  13.381   683911.0      0.0
 2005-03-01  13.371  13.794  13.342  13.734   624585.0      0.0
 2005-03-02  13.607  14.038  13.568  13.822   387289.0      0.0
 2005-03-03  13.891  13.891  13.450  13.627   362061.0      0.0
 ...            ...     ...     ...     ...        ...      ...
 2017-11-06  36.280  36.570  35.570  35.590  1029506.0      0.0
 2017-11-07  35.720  35.720  34.290  34.440  1149793.0      0.0
 2017-11-08  35.510  36.090  34.800  35.990  1805497.0      0.0
 2017-11-09  35.680  35.860  35.230  35.620   979951.0      0.0
 2017-11-10  37.600  38.060  36.260  36.590  1214968.0      0.0

 [3202 rows x 6 columns],
 'ANF':               Open    High      Low   Close     Volume  OpenInt
 2005-02-25  44.731  44.928  44.3330  44.712   883668.0      0.0
 2005-02-28  44.722  44.936  43.8890  44.274  1057227.0      0.0
 2005-03-01  44.274  46.041  44.2740  45.941  1608214.0      0.0
 2005-03-02  46.305  47.147  46.2310  46.643  2298559.0      0.0
 2005-03-03  48.315  48.323  45.6790  45.919  3798101.0      0.0
 ...            ...     ...      ...     ...        ...      ...
 2017-11-06  11.880  12.170  11.7200  11.900  2098225.0      0.0
 2017-11-07  11.900  11.900  11.6300  11.690  1991519.0      0.0
 2017-11-08  11.630  12.010  11.6150  11.720  2167171.0      0.0
 2017-11-09  12.180  12.550  12.1800  12.180  2886580.0      0.0
 2017-11-10  12.230  12.845  12.1608  12.560  2689301.0      0.0

 [3202 rows x 6 columns],
 'GOLF':               Open     High     Low   Close   Volume  OpenInt
 Date
 2016-10-28  17.586  17.6360  17.586  17.586  7047050        0
 2016-10-31  17.714  17.7140  17.057  17.057   475012        0
 2016-11-01  17.037  17.3960  16.803  17.107   598127        0
 2016-11-02  16.861  17.2540  16.803  17.107   305342        0
 2016-11-03  16.880  17.0860  16.852  16.950   188682        0
 ...            ...      ...     ...     ...      ...      ...
 2017-11-06  18.150  18.3400  18.040  18.120   110585        0
 2017-11-07  18.110  18.1553  17.891  18.000   310781        0
 2017-11-08  17.750  18.4200  17.600  18.260   533791        0
 2017-11-09  18.280  18.8200  18.240  18.740   586513        0
 2017-11-10  18.800  19.3499  18.460  19.220   465176        0

 [262 rows x 6 columns],
 'AAP':               Open    High     Low   Close     Volume  OpenInt
 2005-02-25  32.994  33.388  32.994  33.289   625774.0      0.0
 2005-02-28  33.299  33.299  32.699  33.052   576995.0      0.0
 2005-03-01  33.209  33.516  33.209  33.407   845445.0      0.0
 2005-03-02  33.318  34.181  33.061  34.103  1320913.0      0.0
 2005-03-03  34.103  34.428  33.975  34.044   896209.0      0.0
 ...            ...     ...     ...     ...        ...      ...
 2017-11-06  81.530  81.810  80.310  80.710  1173581.0      0.0
 2017-11-07  80.660  80.660  78.900  79.380  1261581.0      0.0
 2017-11-08  79.200  80.620  78.810  79.410  3233316.0      0.0
 2017-11-09  79.560  81.090  79.140  80.450  1898508.0      0.0
 2017-11-10  80.160  81.990  80.000  81.220  1941881.0      0.0

 [3202 rows x 6 columns],
 'AIN':               Open    High     Low   Close    Volume  OpenInt
 2005-02-25  28.992  29.044  28.691  28.965  137893.0      0.0
 2005-02-28  28.804  29.070  28.324  28.324  276687.0      0.0
 2005-03-01  28.413  29.035  28.413  28.983  188218.0      0.0
 2005-03-02  28.983  29.291  28.822  29.104  106462.0      0.0
 2005-03-03  29.156  29.386  29.008  29.104  132880.0      0.0
 ...            ...     ...     ...     ...       ...      ...
 2017-11-06  59.050  60.000  59.050  59.900   64016.0      0.0
 2017-11-07  59.850  59.950  59.250  59.300   61448.0      0.0
 2017-11-08  58.900  59.150  58.150  58.900  100919.0      0.0
 2017-11-09  58.650  59.050  58.650  58.650   71922.0      0.0
 2017-11-10  58.500  59.050  58.350  58.550   71969.0      0.0

 [3202 rows x 6 columns],
 'BABA':               Open    High     Low   Close     Volume  OpenInt
 Date
 2014-09-19   92.70   99.70   89.95   93.89  271831625        0
 2014-09-22   92.70   92.95   89.50   89.89   66628862        0
 2014-09-23   89.00   90.48   86.62   87.17   38984872        0
 2014-09-24   88.47   90.57   87.22   90.57   32016559        0
 2014-09-25   91.09   91.50   88.50   88.92   28584828        0
 ...            ...     ...     ...     ...        ...      ...
 2017-11-06  184.07  188.25  184.00  187.84   19837414        0
 2017-11-07  189.58  189.86  187.00  188.51   17748403        0
 2017-11-08  187.98  188.15  185.10  185.90   13931753        0
 2017-11-09  184.21  185.13  181.05  185.13   19728600        0
 2017-11-10  186.41  187.17  186.41  186.41   14991960        0

 [794 rows x 6 columns],
 'ALSN':               Open    High     Low   Close    Volume  OpenInt
 Date
 2012-03-15  20.846  21.297  20.571  21.206  15369537        0
 2012-03-16  21.431  22.592  21.344  22.249   2276329        0
 2012-03-19  22.202  22.656  21.806  22.522   1075601        0
 2012-03-20  22.392  22.838  21.977  22.476    490314        0
 2012-03-21  22.340  22.819  21.868  21.977    863204        0
 ...            ...     ...     ...     ...       ...      ...
 2017-11-06  43.860  44.000  43.410  43.840   1586881        0
 2017-11-07  43.750  44.000  43.620  43.820   1226549        0
 2017-11-08  43.620  43.880  43.240  43.680   1012289        0
 2017-11-09  43.670  44.130  43.130  43.170   1520728        0
 2017-11-10  43.000  43.570  43.000  43.300   1018315        0

 [1426 rows x 6 columns],
 'AMZN':                Open     High      Low    Close      Volume  OpenInt
 1997-05-16     1.97     1.98     1.71     1.73  14700000.0      0.0
 1997-05-19     1.76     1.77     1.62     1.71   6106800.0      0.0
 1997-05-20     1.73     1.75     1.64     1.64   5467200.0      0.0
 1997-05-21     1.64     1.65     1.38     1.43  18853200.0      0.0
 1997-05-22     1.44     1.45     1.31     1.40  11776800.0      0.0
 ...             ...      ...      ...      ...         ...      ...
 2017-11-06  1109.15  1125.41  1108.77  1120.66   3331738.0      0.0
 2017-11-07  1124.74  1130.60  1117.50  1123.17   2684443.0      0.0
 2017-11-08  1122.82  1135.54  1119.11  1132.88   2576010.0      0.0
 2017-11-09  1125.96  1129.62  1115.77  1129.13   3729978.0      0.0
 2017-11-10  1126.10  1131.75  1124.06  1125.35   2179181.0      0.0

 [5158 rows x 6 columns],
 'AXL':              Open   High    Low  Close     Volume  OpenInt
 2005-02-25  26.11  26.58  26.11  26.56   682700.0      0.0
 2005-02-28  26.48  26.60  26.30  26.42   415300.0      0.0
 2005-03-01  26.37  26.89  26.37  26.83   536900.0      0.0
 2005-03-02  26.25  26.26  25.04  25.50  2656000.0      0.0
 2005-03-03  25.50  25.55  24.88  25.18  1299100.0      0.0
 ...           ...    ...    ...    ...        ...      ...
 2017-11-06  19.13  19.43  18.35  18.36  2205251.0      0.0
 2017-11-07  18.36  18.52  17.71  17.91  2391952.0      0.0
 2017-11-08  17.43  17.92  17.43  17.56  7621392.0      0.0
 2017-11-09  17.41  17.70  17.33  17.67  4304454.0      0.0
 2017-11-10  17.52  17.58  17.35  17.45  4602464.0      0.0

 [3202 rows x 6 columns],
 'AMWD':               Open    High     Low   Close    Volume  OpenInt
 2005-02-25  37.876  38.173  36.657  38.173  117479.0      0.0
 2005-02-28  37.400  37.400  36.162  36.469   68063.0      0.0
 2005-03-01  36.816  37.707  36.142  36.657   70730.0      0.0
 2005-03-02  35.954  37.172  35.775  36.518   87523.0      0.0
 2005-03-03  37.004  37.004  36.162  36.509   52130.0      0.0
 ...            ...     ...     ...     ...       ...      ...
 2017-11-06  93.150  93.600  92.550  92.700  133281.0      0.0
 2017-11-07  92.750  92.750  91.400  91.950   78745.0      0.0
 2017-11-08  91.700  92.275  90.250  90.800  129717.0      0.0
 2017-11-09  90.550  90.550  89.100  89.750  115297.0      0.0
 2017-11-10  89.650  89.800  88.800  89.000   86005.0      0.0

 [3202 rows x 6 columns],
 'ARMK':               Open    High     Low   Close    Volume  OpenInt
 Date
 2013-12-12  19.415  22.457  19.274  21.768  17927820        0
 2013-12-13  22.056  23.569  21.997  22.849   2387874        0
 2013-12-16  23.014  23.014  21.822  22.727    601970        0
 2013-12-17  22.332  22.745  22.112  22.494    228810        0
 2013-12-18  22.476  23.032  22.158  23.014    867546        0
 ...            ...     ...     ...     ...       ...      ...
 2017-11-06  43.600  43.800  43.330  43.450    834016        0
 2017-11-07  43.340  43.500  42.940  43.250    933259        0
 2017-11-08  43.130  43.390  42.970  43.330    882498        0
 2017-11-09  43.110  43.110  42.590  42.750   1808042        0
 2017-11-10  42.930  43.000  42.450  42.680   1473282        0

 [987 rows x 6 columns],
 'FUV':               Open    High     Low   Close  Volume  OpenInt
 Date
 2017-09-22  5.8500  6.0000  5.5100  5.5400  112874        0
 2017-09-25  5.6500  5.6500  4.4500  4.8500  100081        0
 2017-09-26  5.1400  5.1400  4.4500  4.4500   85968        0
 2017-09-27  4.5600  4.8400  3.6000  4.7900  160837        0
 2017-09-28  4.9500  5.0000  4.5000  4.8000   78775        0
 2017-09-29  4.9000  5.1010  4.2400  4.9600   44782        0
 2017-10-02  5.2300  5.5000  4.6745  5.2500   63369        0
 2017-10-03  5.5000  5.5620  5.0108  5.1900   50407        0
 2017-10-04  5.4600  5.4700  5.0100  5.2500   15177        0
 2017-10-05  5.4600  5.4600  5.0500  5.1500   33244        0
 2017-10-06  5.0000  5.4000  4.7500  4.7600   50770        0
 2017-10-09  4.9700  5.2600  4.7300  5.2400   28324        0
 2017-10-10  5.0500  5.1000  4.9000  4.9085   11690        0
 2017-10-11  5.5000  5.5000  4.6700  4.7400   29961        0
 2017-10-12  4.7161  4.8000  4.5100  4.6400   16855        0
 2017-10-13  4.6900  4.8000  4.5600  4.5900   37103        0
 2017-10-16  4.7800  4.8600  4.3800  4.3800   27469        0
 2017-10-17  4.5000  4.5000  4.0000  4.2400   46879        0
 2017-10-18  4.4000  4.4000  3.8500  3.9700   41738        0
 2017-10-19  3.9300  4.9700  3.8501  3.8600   28120        0
 2017-10-20  4.1600  4.1671  3.8500  4.1500   54556        0
 2017-10-23  4.3000  4.6100  4.0060  4.4100   50812        0
 2017-10-24  4.4600  4.5728  4.1515  4.4200   57391        0
 2017-10-25  4.5100  4.6000  4.3000  4.6000   38253        0
 2017-10-26  4.7500  4.7900  4.5100  4.7900   20711        0
 2017-10-27  4.8204  4.8204  4.2243  4.6000   27371        0
 2017-10-30  4.5300  4.7700  4.3000  4.3100   20080        0
 2017-10-31  4.3200  4.4892  4.2000  4.2200   41032        0
 2017-11-01  4.2500  4.4400  4.2400  4.4400   53723        0
 2017-11-02  4.4900  4.4900  4.1000  4.2700   24016        0
 2017-11-03  4.2250  4.3800  4.0200  4.1800   14276        0
 2017-11-06  4.3000  4.3000  3.9500  4.1700   19700        0
 2017-11-07  4.0200  4.1500  3.9000  4.0500   61675        0
 2017-11-08  4.0300  4.0890  3.6500  3.8000   40740        0
 2017-11-09  3.9900  3.9900  3.7500  3.7557   28419        0
 2017-11-10  3.9000  3.9800  3.8268  3.9800   28125        0,
 'ARCO':               Open    High     Low   Close    Volume  OpenInt
 Date
 2011-04-19  21.516  23.178  21.154  22.966  11912845        0
 2011-04-20  23.957  24.098  22.101  22.323   6315638        0
 2011-04-21  22.380  22.473  21.256  21.981   2591289        0
 2011-04-25  21.961  22.138  21.422  21.879   1259748        0
 2011-04-26  22.166  22.194  21.126  21.246   1887331        0
 ...            ...     ...     ...     ...       ...      ...
 2017-11-06  10.300  10.375  10.100  10.300    458511        0
 2017-11-07  10.260  10.500   9.900   9.960    536518        0
 2017-11-08  10.050  10.500  10.000  10.450    820125        0
 2017-11-09  10.500  10.600  10.350  10.500    314802        0
 2017-11-10  10.450  10.600  10.050  10.250    391493        0

 [1654 rows x 6 columns],
 'ALV':                Open     High      Low    Close    Volume  OpenInt
 2005-02-25   42.771   42.866   42.293   42.857  458936.0      0.0
 2005-02-28   42.986   42.986   42.429   42.635  269646.0      0.0
 2005-03-01   42.789   43.265   42.789   43.070  409738.0      0.0
 2005-03-02   41.663   42.660   41.575   42.473  686528.0      0.0
 2005-03-03   42.771   42.815   42.573   42.643  508716.0      0.0
 ...             ...      ...      ...      ...       ...      ...
 2017-11-06  125.430  125.950  124.960  125.210  322622.0      0.0
 2017-11-07  125.630  125.990  124.925  125.460  274878.0      0.0
 2017-11-08  124.870  125.320  123.630  125.070  253610.0      0.0
 2017-11-09  123.710  124.240  122.460  123.400  362597.0      0.0
 2017-11-10  123.030  123.700  123.020  123.440  385246.0      0.0

 [3202 rows x 6 columns],
 'AN':              Open     High     Low  Close     Volume  OpenInt
 1992-03-03   5.46   5.5800   5.460   5.46     6700.0      0.0
 1992-03-04   5.58   5.5800   5.460   5.58     3100.0      0.0
 1992-03-05   5.46   5.5800   5.350   5.46    12800.0      0.0
 1992-03-06   5.52   5.5200   5.350   5.52     3900.0      0.0
 1992-03-09   5.35   5.5200   5.350   5.52     1100.0      0.0
 ...           ...      ...     ...    ...        ...      ...
 2017-11-06  53.94  54.9400  53.860  54.46  1371614.0      0.0
 2017-11-07  54.10  54.5799  52.470  52.92  1707380.0      0.0
 2017-11-08  52.85  52.8700  51.335  51.97  1131610.0      0.0
 2017-11-09  51.81  52.4800  50.920  51.45  1018626.0      0.0
 2017-11-10  51.18  52.5500  51.110  52.48  1432513.0      0.0

 [6475 rows x 6 columns],
 'AZO':               Open    High      Low   Close     Volume  OpenInt
 1991-04-02    6.88    7.38    6.560    7.34  9147200.0      0.0
 1991-04-03    7.28    7.34    6.880    7.31  3403200.0      0.0
 1991-04-04    7.28    7.28    7.090    7.22   831200.0      0.0
 1991-04-05    7.12    7.19    7.090    7.12   457200.0      0.0
 1991-04-08    7.06    7.19    6.880    7.12   608800.0      0.0
 ...            ...     ...      ...     ...        ...      ...
 2017-11-06  605.91  613.00  602.060  607.00   285368.0      0.0
 2017-11-07  606.20  609.88  598.835  603.56   215570.0      0.0
 2017-11-08  603.32  609.40  595.440  596.03   292251.0      0.0
 2017-11-09  595.92  606.77  591.510  605.97   437142.0      0.0
 2017-11-10  604.22  607.79  594.780  598.06   447849.0      0.0

 [6708 rows x 6 columns],
 'BLL':                Open     High      Low    Close     Volume  OpenInt
 1984-09-07   0.6036   0.6083   0.6036   0.6036    96721.0      0.0
 1984-09-10   0.6036   0.6036   0.5988   0.6036    45809.0      0.0
 1984-09-11   0.6036   0.6083   0.6036   0.6036    67874.0      0.0
 1984-09-12   0.6036   0.6083   0.5988   0.6036    71261.0      0.0
 1984-09-13   0.6036   0.6059   0.5988   0.6059    30539.0      0.0
 ...             ...      ...      ...      ...        ...      ...
 2017-11-06  41.8200  41.8200  41.1550  41.4500  2752961.0      0.0
 2017-11-07  41.5000  41.7100  41.0400  41.0500  2244474.0      0.0
 2017-11-08  41.0500  41.1600  40.6700  40.7400  3323242.0      0.0
 2017-11-09  40.4500  40.7850  40.1400  40.3200  2857139.0      0.0
 2017-11-10  40.2300  40.2700  39.9400  39.9800  2826219.0      0.0

 [8366 rows x 6 columns],
 'BZUN':              Open   High    Low    Close   Volume  OpenInt
 Date
 2015-05-21  10.25  10.89   9.23  10.4400  9553300        0
 2015-05-22  10.80  11.22  10.50  11.0800  2806600        0
 2015-05-26  11.40  13.70  11.20  12.7800  4895688        0
 2015-05-27  13.58  14.77  12.05  12.2400  4104200        0
 2015-05-28  11.84  12.39  11.40  11.8800  1768037        0
 ...           ...    ...    ...      ...      ...      ...
 2017-11-06  31.25  32.62  31.23  32.4100  1196874        0
 2017-11-07  32.60  33.74  32.32  32.4950  1583982        0
 2017-11-08  32.45  33.25  32.02  32.8500  1480635        0
 2017-11-09  32.35  32.79  31.72  32.3100   988811        0
 2017-11-10  32.50  32.97  31.58  32.8538  1456607        0

 [626 rows x 6 columns],
 'BNED':              Open   High      Low  Close   Volume  OpenInt
 Date
 2015-08-04  12.85  13.38  12.8000  12.94   983100        0
 2015-08-05  13.12  13.22  12.7900  13.13   827500        0
 2015-08-06  13.37  13.60  12.5700  12.59  1308892        0
 2015-08-07  12.59  13.13  11.7500  11.80   999700        0
 2015-08-10  11.81  12.92  11.8100  12.71  2369000        0
 ...           ...    ...      ...    ...      ...      ...
 2017-11-06   5.26   5.39   5.2001   5.30   228605        0
 2017-11-07   5.33   5.33   5.0200   5.08   284935        0
 2017-11-08   5.02   5.15   4.9900   5.10   325591        0
 2017-11-09   5.11   5.22   5.0900   5.18   250709        0
 2017-11-10   5.22   5.38   5.2000   5.28   232545        0

 [575 rows x 6 columns],
 'BBBY':                Open     High      Low    Close      Volume  OpenInt
 1992-06-05   1.0969   1.1361   1.0283   1.0381  79289838.0      0.0
 1992-06-08   1.0675   1.0675   1.0087   1.0087  13329607.0      0.0
 1992-06-09   1.0381   1.0577   1.0087   1.0283   8526440.0      0.0
 1992-06-10   1.0087   1.0283   0.9794   0.9794   4845644.0      0.0
 1992-06-11   0.9794   0.9989   0.9597   0.9694   5087436.0      0.0
 ...             ...      ...      ...      ...         ...      ...
 2017-11-06  19.5100  20.2200  19.3100  19.9800   3723880.0      0.0
 2017-11-07  20.0300  20.0300  19.0700  19.2600   4599714.0      0.0
 2017-11-08  19.3500  19.5200  19.1000  19.4900   2886990.0      0.0
 2017-11-09  19.3900  20.3548  19.3900  20.1500   3152139.0      0.0
 2017-11-10  20.1700  20.3800  19.9800  20.0200   3134958.0      0.0

 [6409 rows x 6 columns],
 'BBY':                 Open      High       Low     Close    Volume  OpenInt
 Date
 1985-04-19   0.13783   0.13783   0.13783   0.13783  16185594        0
 1985-04-22   0.13783   0.13783   0.13783   0.13783   3888946        0
 1985-04-23   0.13783   0.13783   0.13783   0.13783   7088069        0
 1985-04-24   0.13783   0.13783   0.13783   0.13783   2969194        0
 1985-04-25   0.12962   0.12962   0.12149   0.12149   7967830        0
 ...              ...       ...       ...       ...       ...      ...
 2017-11-06  56.76000  57.26000  56.22000  56.39000   3735736        0
 2017-11-07  56.59000  56.70000  54.65000  55.13000   3493890        0
 2017-11-08  55.02000  56.78000  54.72000  56.55000   3571334        0
 2017-11-09  56.16000  56.49000  55.27000  55.93000   3543907        0
 2017-11-10  56.19000  57.05000  56.00780  56.68000   3899440        0

 [8211 rows x 6 columns],
 'BGFV':               Open     High     Low   Close     Volume  OpenInt
 2005-02-25  18.836  19.2340  18.764  19.211   108494.0      0.0
 2005-02-28  19.009  19.2110  18.395  18.450   243253.0      0.0
 2005-03-01  18.733  19.0370  18.403  19.024   194848.0      0.0
 2005-03-02  19.037  19.8580  19.015  19.769   463734.0      0.0
 2005-03-03  19.762  19.7620  18.959  19.440   392826.0      0.0
 ...            ...      ...     ...     ...        ...      ...
 2017-11-06   6.500   6.5500   6.050   6.050  2416392.0      0.0
 2017-11-07   6.150   6.2500   6.000   6.250  2329530.0      0.0
 2017-11-08   6.150   6.3000   6.000   6.200   976301.0      0.0
 2017-11-09   6.200   6.2763   6.050   6.250   754427.0      0.0
 2017-11-10   6.200   6.6000   6.200   6.450   863017.0      0.0

 [3202 rows x 6 columns],
 'BH':               Open    High     Low   Close   Volume  OpenInt
 2005-02-25  384.00  390.00  380.20  388.40   2560.0      0.0
 2005-02-28  390.40  390.40  376.80  382.60   4790.0      0.0
 2005-03-01  380.60  393.40  380.60  393.00   5070.0      0.0
 2005-03-02  395.80  402.00  388.00  388.00   4910.0      0.0
 2005-03-03  388.00  399.20  388.00  395.20   3165.0      0.0
 ...            ...     ...     ...     ...      ...      ...
 2017-11-06  342.03  342.17  324.81  338.47  15914.0      0.0
 2017-11-07  337.21  348.05  337.21  338.31  11314.0      0.0
 2017-11-08  337.26  340.79  331.00  334.75  17976.0      0.0
 2017-11-09  336.28  358.11  336.28  355.32   6926.0      0.0

Filtering data by years, deleting 'OpenInt' column since it has no information and adding a new column that computes daily returns

In [47]:
def filter_data_by_year(df_dict,start_year,end_year):
    new_df = {}
    for key in df_dict:
        df_start_year = df_dict[key].index.year.min()
        df_end_year = df_dict[key].index.year.max()
        if start_year >= df_start_year:
            if end_year <= df_end_year:
                new_df[key] = df_dict[key].loc[pd.to_datetime(str(start_year)):pd.to_datetime(str(end_year + 1))]
    return (new_df)
            
def data_modified_cols(new_df):
    for keys in new_df:
        new_df[keys].drop(columns = 'OpenInt',axis = 1)
        new_df[keys]['Daily_Returns'] = new_df[keys]['Close'].pct_change()
        

filter_data_by_year(consumer_cyclical_dfs, 2005,2017)

{'AAN':               Open    High     Low   Close     Volume  OpenInt
 2005-02-25  12.920  13.470  12.920  13.295   933743.0      0.0
 2005-02-28  13.371  13.470  13.118  13.381   683911.0      0.0
 2005-03-01  13.371  13.794  13.342  13.734   624585.0      0.0
 2005-03-02  13.607  14.038  13.568  13.822   387289.0      0.0
 2005-03-03  13.891  13.891  13.450  13.627   362061.0      0.0
 ...            ...     ...     ...     ...        ...      ...
 2017-11-06  36.280  36.570  35.570  35.590  1029506.0      0.0
 2017-11-07  35.720  35.720  34.290  34.440  1149793.0      0.0
 2017-11-08  35.510  36.090  34.800  35.990  1805497.0      0.0
 2017-11-09  35.680  35.860  35.230  35.620   979951.0      0.0
 2017-11-10  37.600  38.060  36.260  36.590  1214968.0      0.0

 [3202 rows x 6 columns],
 'ANF':               Open    High      Low   Close     Volume  OpenInt
 2005-02-25  44.731  44.928  44.3330  44.712   883668.0      0.0
 2005-02-28  44.722  44.936  43.8890  44.274  1057227.0      0.0
 2005-03-01  44.274  46.041  44.2740  45.941  1608214.0      0.0
 2005-03-02  46.305  47.147  46.2310  46.643  2298559.0      0.0
 2005-03-03  48.315  48.323  45.6790  45.919  3798101.0      0.0
 ...            ...     ...      ...     ...        ...      ...
 2017-11-06  11.880  12.170  11.7200  11.900  2098225.0      0.0
 2017-11-07  11.900  11.900  11.6300  11.690  1991519.0      0.0
 2017-11-08  11.630  12.010  11.6150  11.720  2167171.0      0.0
 2017-11-09  12.180  12.550  12.1800  12.180  2886580.0      0.0
 2017-11-10  12.230  12.845  12.1608  12.560  2689301.0      0.0

 [3202 rows x 6 columns],
 'AAP':               Open    High     Low   Close     Volume  OpenInt
 2005-02-25  32.994  33.388  32.994  33.289   625774.0      0.0
 2005-02-28  33.299  33.299  32.699  33.052   576995.0      0.0
 2005-03-01  33.209  33.516  33.209  33.407   845445.0      0.0
 2005-03-02  33.318  34.181  33.061  34.103  1320913.0      0.0
 2005-03-03  34.103  34.428  33.975  34.044   896209.0      0.0
 ...            ...     ...     ...     ...        ...      ...
 2017-11-06  81.530  81.810  80.310  80.710  1173581.0      0.0
 2017-11-07  80.660  80.660  78.900  79.380  1261581.0      0.0
 2017-11-08  79.200  80.620  78.810  79.410  3233316.0      0.0
 2017-11-09  79.560  81.090  79.140  80.450  1898508.0      0.0
 2017-11-10  80.160  81.990  80.000  81.220  1941881.0      0.0

 [3202 rows x 6 columns],
 'AIN':               Open    High     Low   Close    Volume  OpenInt
 2005-02-25  28.992  29.044  28.691  28.965  137893.0      0.0
 2005-02-28  28.804  29.070  28.324  28.324  276687.0      0.0
 2005-03-01  28.413  29.035  28.413  28.983  188218.0      0.0
 2005-03-02  28.983  29.291  28.822  29.104  106462.0      0.0
 2005-03-03  29.156  29.386  29.008  29.104  132880.0      0.0
 ...            ...     ...     ...     ...       ...      ...
 2017-11-06  59.050  60.000  59.050  59.900   64016.0      0.0
 2017-11-07  59.850  59.950  59.250  59.300   61448.0      0.0
 2017-11-08  58.900  59.150  58.150  58.900  100919.0      0.0
 2017-11-09  58.650  59.050  58.650  58.650   71922.0      0.0
 2017-11-10  58.500  59.050  58.350  58.550   71969.0      0.0

 [3202 rows x 6 columns],
 'AMZN':                Open     High      Low    Close      Volume  OpenInt
 2005-01-03    45.00    45.44    44.21    44.52  10477391.0      0.0
 2005-01-04    42.62    43.26    41.50    42.14  19507792.0      0.0
 2005-01-05    41.57    42.76    41.56    41.77   8354707.0      0.0
 2005-01-06    41.85    42.25    40.90    41.05   8703006.0      0.0
 2005-01-07    41.30    42.69    41.16    42.32   9861972.0      0.0
 ...             ...      ...      ...      ...         ...      ...
 2017-11-06  1109.15  1125.41  1108.77  1120.66   3331738.0      0.0
 2017-11-07  1124.74  1130.60  1117.50  1123.17   2684443.0      0.0
 2017-11-08  1122.82  1135.54  1119.11  1132.88   2576010.0      0.0
 2017-11-09  1125.96  1129.62  1115.77  1129.13   3729978.0      0.0
 2017-11-10  1126.10  1131.75  1124.06  1125.35   2179181.0      0.0

 [3239 rows x 6 columns],
 'AXL':              Open   High    Low  Close     Volume  OpenInt
 2005-02-25  26.11  26.58  26.11  26.56   682700.0      0.0
 2005-02-28  26.48  26.60  26.30  26.42   415300.0      0.0
 2005-03-01  26.37  26.89  26.37  26.83   536900.0      0.0
 2005-03-02  26.25  26.26  25.04  25.50  2656000.0      0.0
 2005-03-03  25.50  25.55  24.88  25.18  1299100.0      0.0
 ...           ...    ...    ...    ...        ...      ...
 2017-11-06  19.13  19.43  18.35  18.36  2205251.0      0.0
 2017-11-07  18.36  18.52  17.71  17.91  2391952.0      0.0
 2017-11-08  17.43  17.92  17.43  17.56  7621392.0      0.0
 2017-11-09  17.41  17.70  17.33  17.67  4304454.0      0.0
 2017-11-10  17.52  17.58  17.35  17.45  4602464.0      0.0

 [3202 rows x 6 columns],
 'AMWD':               Open    High     Low   Close    Volume  OpenInt
 2005-02-25  37.876  38.173  36.657  38.173  117479.0      0.0
 2005-02-28  37.400  37.400  36.162  36.469   68063.0      0.0
 2005-03-01  36.816  37.707  36.142  36.657   70730.0      0.0
 2005-03-02  35.954  37.172  35.775  36.518   87523.0      0.0
 2005-03-03  37.004  37.004  36.162  36.509   52130.0      0.0
 ...            ...     ...     ...     ...       ...      ...
 2017-11-06  93.150  93.600  92.550  92.700  133281.0      0.0
 2017-11-07  92.750  92.750  91.400  91.950   78745.0      0.0
 2017-11-08  91.700  92.275  90.250  90.800  129717.0      0.0
 2017-11-09  90.550  90.550  89.100  89.750  115297.0      0.0
 2017-11-10  89.650  89.800  88.800  89.000   86005.0      0.0

 [3202 rows x 6 columns],
 'ALV':                Open     High      Low    Close    Volume  OpenInt
 2005-02-25   42.771   42.866   42.293   42.857  458936.0      0.0
 2005-02-28   42.986   42.986   42.429   42.635  269646.0      0.0
 2005-03-01   42.789   43.265   42.789   43.070  409738.0      0.0
 2005-03-02   41.663   42.660   41.575   42.473  686528.0      0.0
 2005-03-03   42.771   42.815   42.573   42.643  508716.0      0.0
 ...             ...      ...      ...      ...       ...      ...
 2017-11-06  125.430  125.950  124.960  125.210  322622.0      0.0
 2017-11-07  125.630  125.990  124.925  125.460  274878.0      0.0
 2017-11-08  124.870  125.320  123.630  125.070  253610.0      0.0
 2017-11-09  123.710  124.240  122.460  123.400  362597.0      0.0
 2017-11-10  123.030  123.700  123.020  123.440  385246.0      0.0

 [3202 rows x 6 columns],
 'AN':              Open     High     Low  Close     Volume  OpenInt
 2005-01-03  19.01  19.2000  18.740  18.83   785900.0      0.0
 2005-01-04  18.81  19.1300  18.720  18.95  1194200.0      0.0
 2005-01-05  19.14  19.2200  18.960  19.00   976700.0      0.0
 2005-01-06  18.90  18.9000  18.470  18.68  1328400.0      0.0
 2005-01-07  18.69  18.7700  18.470  18.66   727000.0      0.0
 ...           ...      ...     ...    ...        ...      ...
 2017-11-06  53.94  54.9400  53.860  54.46  1371614.0      0.0
 2017-11-07  54.10  54.5799  52.470  52.92  1707380.0      0.0
 2017-11-08  52.85  52.8700  51.335  51.97  1131610.0      0.0
 2017-11-09  51.81  52.4800  50.920  51.45  1018626.0      0.0
 2017-11-10  51.18  52.5500  51.110  52.48  1432513.0      0.0

 [3239 rows x 6 columns],
 'AZO':               Open    High      Low   Close     Volume  OpenInt
 2005-01-03   91.31   92.82   90.620   90.75  1005700.0      0.0
 2005-01-04   91.00   91.50   89.700   89.70   656100.0      0.0
 2005-01-05   89.50   90.77   88.850   90.29   819900.0      0.0
 2005-01-06   90.20   90.55   89.500   89.55   482700.0      0.0
 2005-01-07   89.55   90.50   89.550   89.73   429100.0      0.0
 ...            ...     ...      ...     ...        ...      ...
 2017-11-06  605.91  613.00  602.060  607.00   285368.0      0.0
 2017-11-07  606.20  609.88  598.835  603.56   215570.0      0.0
 2017-11-08  603.32  609.40  595.440  596.03   292251.0      0.0
 2017-11-09  595.92  606.77  591.510  605.97   437142.0      0.0
 2017-11-10  604.22  607.79  594.780  598.06   447849.0      0.0

 [3239 rows x 6 columns],
 'BLL':               Open    High     Low   Close     Volume  OpenInt
 2005-01-03  10.371  10.395  10.171  10.227  1931860.0      0.0
 2005-01-04  10.227  10.333  10.173  10.227  3437822.0      0.0
 2005-01-05  10.220  10.299   9.916   9.983  3295715.0      0.0
 2005-01-06  10.065  10.091   9.971  10.063  2413349.0      0.0
 2005-01-07  10.130  10.225   9.980   9.985  2443466.0      0.0
 ...            ...     ...     ...     ...        ...      ...
 2017-11-06  41.820  41.820  41.155  41.450  2752961.0      0.0
 2017-11-07  41.500  41.710  41.040  41.050  2244474.0      0.0
 2017-11-08  41.050  41.160  40.670  40.740  3323242.0      0.0
 2017-11-09  40.450  40.785  40.140  40.320  2857139.0      0.0
 2017-11-10  40.230  40.270  39.940  39.980  2826219.0      0.0

 [3239 rows x 6 columns],
 'BBBY':               Open     High     Low   Close     Volume  OpenInt
 2005-01-03  39.008  39.3400  38.880  39.085  3788769.0      0.0
 2005-01-04  39.350  39.4480  38.773  38.841  2735786.0      0.0
 2005-01-05  38.880  39.3110  38.833  39.184  3292336.0      0.0
 2005-01-06  39.204  39.3600  38.978  39.135  2162566.0      0.0
 2005-01-07  39.174  39.5370  38.929  38.978  2318646.0      0.0
 ...            ...      ...     ...     ...        ...      ...
 2017-11-06  19.510  20.2200  19.310  19.980  3723880.0      0.0
 2017-11-07  20.030  20.0300  19.070  19.260  4599714.0      0.0
 2017-11-08  19.350  19.5200  19.100  19.490  2886990.0      0.0
 2017-11-09  19.390  20.3548  19.390  20.150  3152139.0      0.0
 2017-11-10  20.170  20.3800  19.980  20.020  3134958.0      0.0

 [3239 rows x 6 columns],
 'BBY':               Open    High      Low   Close    Volume  OpenInt
 Date
 2005-01-03  32.352  32.799  31.9310  32.019   6581354        0
 2005-01-04  32.019  32.038  31.1120  31.171   5835080        0
 2005-01-05  31.112  31.534  30.9740  31.355   4779809        0
 2005-01-06  30.991  30.991  29.7270  29.976  18163204        0
 2005-01-07  30.082  30.246  29.7940  29.794   7338001        0
 ...            ...     ...      ...     ...       ...      ...
 2017-11-06  56.760  57.260  56.2200  56.390   3735736        0
 2017-11-07  56.590  56.700  54.6500  55.130   3493890        0
 2017-11-08  55.020  56.780  54.7200  56.550   3571334        0
 2017-11-09  56.160  56.490  55.2700  55.930   3543907        0
 2017-11-10  56.190  57.050  56.0078  56.680   3899440        0

 [3239 rows x 6 columns],
 'BGFV':               Open     High     Low   Close     Volume  OpenInt
 2005-02-25  18.836  19.2340  18.764  19.211   108494.0      0.0
 2005-02-28  19.009  19.2110  18.395  18.450   243253.0      0.0
 2005-03-01  18.733  19.0370  18.403  19.024   194848.0      0.0
 2005-03-02  19.037  19.8580  19.015  19.769   463734.0      0.0
 2005-03-03  19.762  19.7620  18.959  19.440   392826.0      0.0
 ...            ...      ...     ...     ...        ...      ...
 2017-11-06   6.500   6.5500   6.050   6.050  2416392.0      0.0
 2017-11-07   6.150   6.2500   6.000   6.250  2329530.0      0.0
 2017-11-08   6.150   6.3000   6.000   6.200   976301.0      0.0
 2017-11-09   6.200   6.2763   6.050   6.250   754427.0      0.0
 2017-11-10   6.200   6.6000   6.200   6.450   863017.0      0.0

 [3202 rows x 6 columns],
 'BH':               Open    High     Low   Close   Volume  OpenInt
 2005-02-25  384.00  390.00  380.20  388.40   2560.0      0.0
 2005-02-28  390.40  390.40  376.80  382.60   4790.0      0.0
 2005-03-01  380.60  393.40  380.60  393.00   5070.0      0.0
 2005-03-02  395.80  402.00  388.00  388.00   4910.0      0.0
 2005-03-03  388.00  399.20  388.00  395.20   3165.0      0.0
 ...            ...     ...     ...     ...      ...      ...
 2017-11-06  342.03  342.17  324.81  338.47  15914.0      0.0
 2017-11-07  337.21  348.05  337.21  338.31  11314.0      0.0
 2017-11-08  337.26  340.79  331.00  334.75  17976.0      0.0
 2017-11-09  336.28  358.11  336.28  355.32   6926.0      0.0
 2017-11-10  356.44  356.50  345.76  350.00   4833.0      0.0

 [3202 rows x 6 columns],
 'EAT':               Open    High     Low   Close     Volume  OpenInt
 2005-02-25  21.037  21.332  20.970  21.290   913764.0      0.0
 2005-02-28  21.273  21.332  21.054  21.196  1493710.0      0.0
 2005-03-01  21.189  21.669  21.189  21.626  1352786.0      0.0
 2005-03-02  21.558  21.584  21.273  21.373  1003783.0      0.0
 2005-03-03  21.415  21.642  21.348  21.531  1012000.0      0.0
 ...            ...     ...     ...     ...        ...      ...
 2017-11-06  32.580  33.570  32.350  33.400  2011177.0      0.0
 2017-11-07  33.440  33.440  32.555  32.660  2387435.0      0.0
 2017-11-08  32.500  33.170  32.390  32.800  2391709.0      0.0
 2017-11-09  32.760  33.670  32.720  33.350  2240520.0      0.0
 2017-11-10  33.440  34.380  33.270  33.740  1593783.0      0.0

 [3202 rows x 6 columns],
 'BC':               Open    High     Low   Close     Volume  OpenInt
 2005-01-03  47.088  47.335  46.042  46.203   921605.0      0.0
 2005-01-04  46.327  46.784  45.595  45.842   607081.0      0.0
 2005-01-05  45.947  46.251  45.452  45.568   741007.0      0.0
 2005-01-06  45.518  45.548  44.881  45.374   708737.0      0.0
 2005-01-07  45.661  45.699  44.663  44.805   718195.0      0.0
 ...            ...     ...     ...     ...        ...      ...
 2017-11-06  51.600  52.380  51.540  51.630  1336778.0      0.0
 2017-11-07  51.540  52.100  49.440  49.570  2039537.0      0.0
 2017-11-08  49.290  50.250  49.140  49.780  1275392.0      0.0
 2017-11-09  49.220  49.750  48.660  48.840  1256627.0      0.0
 2017-11-10  48.700  49.475  48.700  48.810   974019.0      0.0

 [3239 rows x 6 columns],
 'BBW':              Open   High    Low  Close    Volume  OpenInt
 2005-02-25  33.05  33.50  33.03  33.35  227400.0      0.0
 2005-02-28  33.10  34.30  33.10  34.21  166500.0      0.0
 2005-03-01  34.21  35.20  34.21  35.17  146200.0      0.0
 2005-03-02  35.35  35.70  34.56  35.57  144600.0      0.0
 2005-03-03  35.60  36.49  35.20  36.21  217800.0      0.0
 ...           ...    ...    ...    ...       ...      ...
 2017-11-06   7.75   7.90   7.55   7.65  112323.0      0.0
 2017-11-07   7.60   7.85   7.45   7.45  135235.0      0.0
 2017-11-08   7.45   7.45   7.25   7.35  106791.0      0.0
 2017-11-09   7.25   7.95   7.25   7.75   99276.0      0.0
 2017-11-10   7.75   8.00   7.75   7.80   26866.0      0.0

 [3202 rows x 6 columns],
 'KMX':              Open   High    Low  Close     Volume  OpenInt
 2005-02-25  16.58  16.65  16.43  16.47  1239600.0      0.0
 2005-02-28  16.48  16.60  16.26  16.50  1203000.0      0.0
 2005-03-01  16.54  16.66  16.46  16.61  1795200.0      0.0
 2005-03-02  16.48  16.75  16.34  16.57  1148400.0      0.0
 2005-03-03  16.55  16.75  16.52  16.61  1146400.0      0.0
 ...           ...    ...    ...    ...        ...      ...
 2017-11-06  75.30  75.79  74.86  74.91   720078.0      0.0
 2017-11-07  74.73  74.73  72.92  73.42  1600086.0      0.0
 2017-11-08  73.11  73.80  72.82  73.44  1357853.0      0.0
 2017-11-09  72.96  73.35  71.80  72.18  1453482.0      0.0
 2017-11-10  72.00  73.27  71.93  72.68  1336660.0      0.0

 [3202 rows x 6 columns],
 'CCL':               Open    High     Low   Close     Volume  OpenInt
 2005-01-03  48.260  48.260  47.332  47.490  2379377.0      0.0
 2005-01-04  47.622  47.937  47.260  47.274  4540570.0      0.0
 2005-01-05  47.107  47.456  46.912  47.192  3503238.0      0.0
 2005-01-06  47.192  47.630  47.010  47.532  6015600.0      0.0
 2005-01-07  47.732  47.961  47.069  47.647  3223145.0      0.0
 ...            ...     ...     ...     ...        ...      ...
 2017-11-06  65.370  66.400  65.370  65.670  3233243.0      0.0
 2017-11-07  66.870  66.870  66.000  66.380  3574956.0      0.0
 2017-11-08  65.890  66.060  65.160  65.930  2530411.0      0.0
 2017-11-09  65.670  66.460  65.590  66.180  2708678.0      0.0
 2017-11-10  65.790  66.050  63.600  64.660  4344286.0      0.0

 [3239 rows x 6 columns],
 'CUK':               Open    High     Low   Close    Volume  OpenInt
 2005-02-25  48.198  48.562  48.107  48.562   14668.0      0.0
 2005-02-28  48.155  48.155  47.681  48.155   12985.0      0.0
 2005-03-01  48.140  48.155  47.950  48.155   10220.0      0.0
 2005-03-02  47.792  48.205  47.633  47.855   29579.0      0.0
 2005-03-03  47.484  47.532  47.202  47.358   19600.0      0.0
 ...            ...     ...     ...     ...       ...      ...
 2017-11-06  65.610  66.590  65.610  66.040  317679.0      0.0
 2017-11-07  66.850  67.770  66.090  66.460  569079.0      0.0
 2017-11-08  65.830  65.970  65.070  65.740  548760.0      0.0
 2017-11-09  65.700  66.370  65.560  66.010  324009.0      0.0
 2017-11-10  65.980  66.120  63.800  65.030  579067.0      0.0

 [3202 rows x 6 columns],
 'CSV':                Open     High      Low    Close    Volume  OpenInt
 2005-02-25   5.2554   5.2554   4.6788   4.9433  126431.0      0.0
 2005-02-28   4.8486   4.8486   4.5935   4.7260  154678.0      0.0
 2005-03-01   4.7260   4.7921   4.7260   4.7730   93946.0      0.0
 2005-03-02   4.7450   4.7921   4.7354   4.7828   41260.0      0.0
 2005-03-03   4.7828   4.8015   4.7730   4.8015   17881.0      0.0
 ...             ...      ...      ...      ...       ...      ...
 2017-11-06  25.5480  25.7680  25.4390  25.6280   57927.0      0.0
 2017-11-07  25.6880  25.6880  25.1890  25.3290   93073.0      0.0
 2017-11-08  25.2290  25.2890  24.9900  25.0800   62213.0      0.0
 2017-11-09  24.9600  25.1440  24.8700  24.9600   71661.0      0.0
 2017-11-10  25.0300  25.1000  24.8800  24.8900   55240.0      0.0

 [3202 rows x 6 columns],
 'CVCO':               Open    High      Low   Close    Volume  OpenInt
 2005-02-25   25.00   25.00   24.650   24.65    4370.0      0.0
 2005-02-28   26.88   29.74   25.600   26.83  125555.0      0.0
 2005-03-01   27.43   28.24   27.050   27.23   77470.0      0.0
 2005-03-02   27.80   28.80   27.180   28.12   39639.0      0.0
 2005-03-03   28.29   28.29   26.850   27.54   31484.0      0.0
 ...            ...     ...      ...     ...       ...      ...
 2017-11-06  151.50  154.50  151.500  153.00   23741.0      0.0
 2017-11-07  153.00  153.00  149.000  149.95   34060.0      0.0
 2017-11-08  146.15  149.50  140.050  147.10   75823.0      0.0
 2017-11-09  146.75  148.50  144.475  147.05   32153.0      0.0
 2017-11-10  146.00  147.40  145.250  145.35   21943.0      0.0

 [3202 rows x 6 columns],
 'FUN':               Open     High      Low   Close    Volume  OpenInt
 2005-02-25  22.419  22.6540  22.2860  22.482   37040.0      0.0
 2005-02-28  22.515  22.7030  22.4470  22.560   64274.0      0.0
 2005-03-01  22.482  22.8270  22.3790  22.690   38621.0      0.0
 2005-03-02  22.552  22.8200  22.4540  22.765   46261.0      0.0
 2005-03-03  22.662  22.8270  22.5850  22.827   73211.0      0.0
 ...            ...      ...      ...     ...       ...      ...
 2017-11-06  65.970  67.1600  65.9300  66.380  108961.0      0.0
 2017-11-07  66.520  66.9800  65.1800  65.630  146713.0      0.0
 2017-11-08  65.770  67.1499  65.2601  66.690  102514.0      0.0
 2017-11-09  66.680  67.3100  66.0100  67.000   72516.0      0.0
 2017-11-10  67.100  67.7199  67.0100  67.500   47404.0      0.0

 [3202 rows x 6 columns],
 'CNTY':             Open  High    Low  Close    Volume  OpenInt
 2005-02-25  8.43  8.48  8.250   8.48  187096.0      0.0
 2005-02-28  8.63  8.89  8.530   8.78  189405.0      0.0
 2005-03-01  8.83  9.30  8.830   9.20  195882.0      0.0
 2005-03-02  9.24  9.24  8.650   8.86   78288.0      0.0
 2005-03-03  8.80  8.91  8.450   8.79   70555.0      0.0
 ...          ...   ...    ...    ...       ...      ...
 2017-11-06  9.00  9.50  8.850   8.98   87087.0      0.0
 2017-11-07  9.00  9.13  8.940   8.95   61562.0      0.0
 2017-11-08  8.95  9.00  8.900   9.00   50669.0      0.0
 2017-11-09  8.95  9.18  8.950   9.05   97237.0      0.0
 2017-11-10  9.05  9.09  8.975   9.00   62934.0      0.0

 [3202 rows x 6 columns],

Pulling revenue data for each company from https://www.macrotrends.net/stocks/ using web scraping 
and creating a dictionary with ticker name as key and revenue data as value.

In [54]:
from urllib.error import HTTPError
def fetchRevenueData(ticker_csv):
    
    stock_df, cmpny_name = create_dfs(ticker_csv)
    stock_df = probe_missing_data(stock_df, 100)
    #stock_df = filter_data_by_year(stock_df,start_year,end_year)
    ticker_revenue_dicts = {}
    
    for keys in stock_df:
        ticker_name = keys
        company_name = cmpny_name[keys]
        #print (ticker_name,company_name)
        res = re.split(' |, ', company_name)
        macrotrends_name = ''
        for elem in res:
            if not macrotrends_name:
                macrotrends_name = elem.lower()
            else:
                macrotrends_name = macrotrends_name + "-" + elem.lower()
        #test if the ticker name combo works on Macrotrends
                macrotrends_url = "https://www.macrotrends.net/stocks/charts/{}/{}/revenue".format(ticker_name, macrotrends_name)
                x = requests.head(macrotrends_url)
                if (x.status_code != 404):
                    # fetch revenue data using read_html()
                    try:
                        revenue = pd.read_html(macrotrends_url , match = 'Quarterly Revenue', flavor = 'bs4')[0]
                        ticker_revenue_dicts[ticker_name] = revenue
                        #with open('ticker_revenue.csv', 'w') as f:
                             #f.write("%s,%s\n"%(key,ticker_revenue_dicts[key]))  
                    except HTTPError as e:
                        print ("Error while retriving URL \"" + macrotrends_url + "\": " + str(e))
                        pass
                
    return (ticker_revenue_dicts)

fetchRevenueData("consumer_cyclical_ticker.csv")

Error while retriving URL "https://www.macrotrends.net/stocks/charts/GES/guess'-inc/revenue": HTTP Error 301: The HTTP server returned a redirect error that would lead to an infinite loop.
The last 30x error message was:
Moved Permanently

{'AAN':   Aaron's Quarterly Revenue(Millions of US $)  \
 0                                  2021-09-30
 1                                  2021-06-30
 2                                  2021-03-31
 3                                  2020-12-31
 4                                  2020-09-30
 5                                  2020-06-30
 6                                  2020-03-31
 7                                  2019-12-31
 8                                  2018-12-31
 9                                  2017-12-31

   Aaron's Quarterly Revenue(Millions of US $).1
 0                                          $452
 1                                          $467
 2                                          $481
 3                                          $430
 4                                          $441
 5                                          $431
 6                                          $433
 7                                           NaN
 8                                           NaN
 9                                           NaN  ,
 'ANF':    Abercrombie & Fitch Quarterly Revenue(Millions of US $)  \
 0                                          2021-10-31
 1                                          2021-07-31
 2                                          2021-04-30
 3                                          2021-01-31
 4                                          2020-10-31
 ..                                                ...
 63                                         2006-01-31
 64                                         2005-10-31
 65                                         2005-07-31
 66                                         2005-04-30
 67                                         2005-01-31

    Abercrombie & Fitch Quarterly Revenue(Millions of US $).1
 0                                                $905
 1                                                $865
 2                                                $781
 3                                              $1,122
 4                                                $820
 ..                                                ...
 63                                               $961
 64                                               $705
 65                                               $572
 66                                               $547
 67                                               $687

 [68 rows x 2 columns],
 'GOLF':    Acushnet Quarterly Revenue(Millions of US $)  \
 0                                    2021-09-30
 1                                    2021-06-30
 2                                    2021-03-31
 3                                    2020-12-31
 4                                    2020-09-30
 5                                    2020-06-30
 6                                    2020-03-31
 7                                    2019-12-31
 8                                    2019-09-30
 9                                    2019-06-30
 10                                   2019-03-31
 11                                   2018-12-31
 12                                   2018-09-30
 13                                   2018-06-30
 14                                   2018-03-31
 15                                   2017-12-31
 16                                   2017-09-30
 17                                   2017-06-30
 18                                   2017-03-31
 19                                   2016-12-31
 20                                   2016-09-30
 21                                   2016-06-30
 22                                   2016-03-31
 23                                   2015-12-31
 24                                   2015-09-30
 25                                   2015-06-30
 26                                   2014-12-31
 27                                   2013-12-31

    Acushnet Quarterly Revenue(Millions of US $).1
 0                                            $522
 1                                            $625
 2                                            $581
 3                                            $420
 4                                            $483
 5                                            $300
 6                                            $409
 7                                            $368
 8                                            $417
 9                                            $462
 10                                           $434
 11                                           $343
 12                                           $370
 13                                           $478
 14                                           $442
 15                                           $351
 16                                           $347
 17                                           $428
 18                                           $434
 19                                           $330
 20                                           $339
 21                                           $463
 22                                           $440
 23                                            NaN
 24                                           $320
 25                                            NaN
 26                                            NaN
 27                                            NaN  ,
 'AAP':    Advance Auto Parts Quarterly Revenue(Millions of US $)  \
 0                                          2021-09-30
 1                                          2021-06-30
 2                                          2021-03-31
 3                                          2020-12-31
 4                                          2020-09-30
 ..                                                ...
 62                                         2006-03-31
 63                                         2005-12-31
 64                                         2005-09-30
 65                                         2005-06-30
 66                                         2005-03-31

    Advance Auto Parts Quarterly Revenue(Millions of US $).1
 0                                              $2,621
 1                                              $2,649
 2                                              $3,330
 3                                              $2,365
 4                                              $2,542
 ..                                                ...
 62                                             $1,393
 63                                               $964
 64                                             $1,020
 65                                             $1,023
 66                                             $1,258

 [67 rows x 2 columns],
 'AIN':    Albany Quarterly Revenue(Millions of US $)  \
 0                                  2021-09-30
 1                                  2021-06-30
 2                                  2021-03-31
 3                                  2020-12-31
 4                                  2020-09-30
 ..                                        ...
 62                                 2006-03-31
 63                                 2005-12-31
 64                                 2005-09-30
 65                                 2005-06-30
 66                                 2005-03-31

    Albany Quarterly Revenue(Millions of US $).1
 0                                          $232
 1                                          $235
 2                                          $222
 3                                          $227
 4                                          $212
 ..                                          ...
 62                                         $251
 63                                         $248
 64                                         $242
 65                                         $247
 66                                         $241

 [67 rows x 2 columns],
 'BABA':    Alibaba Quarterly Revenue(Millions of US $)  \
 0                                   2021-09-30
 1                                   2021-06-30
 2                                   2021-03-31
 3                                   2020-12-31
 4                                   2020-09-30
 5                                   2020-06-30
 6                                   2020-03-31
 7                                   2019-12-31
 8                                   2019-09-30
 9                                   2019-06-30
 10                                  2019-03-31
 11                                  2018-12-31
 12                                  2018-09-30
 13                                  2018-06-30
 14                                  2018-03-31
 15                                  2017-12-31
 16                                  2017-09-30
 17                                  2017-06-30
 18                                  2017-03-31
 19                                  2016-12-31
 20                                  2016-09-30
 21                                  2016-06-30
 22                                  2016-03-31
 23                                  2015-12-31
 24                                  2015-09-30
 25                                  2015-06-30
 26                                  2015-03-31
 27                                  2014-12-31
 28                                  2014-09-30
 29                                  2014-06-30
 30                                  2013-12-31
 31                                  2013-09-30
 32                                  2013-03-31
 33                                  2012-03-31
 34                                  2011-03-31
 35                                  2010-03-31

    Alibaba Quarterly Revenue(Millions of US $).1
 0                                        $31,147
 1                                        $31,865
 2                                        $30,997
 3                                        $33,883
 4                                        $22,838
 5                                        $21,762
 6                                        $15,401
 7                                        $23,192
 8                                        $16,651
 9                                        $16,741
 10                                       $14,468
 11                                       $17,057
 12                                       $12,398
 13                                       $12,229
 14                                       $11,449
 15                                       $12,761
 16                                        $8,285
 17                                        $7,403
 18                                        $5,345
 19                                        $7,669
 20                                        $5,142
 21                                        $4,838
 22                                        $3,600
 23                                        $5,333
 24                                        $3,488
 25                                        $3,265
 26                                        $2,790
 27                                        $4,219
 28                                        $2,742
 29                                        $2,542
 30                                        $3,061
 31                                        $1,777
 32                                           NaN
 33                                           NaN
 34                                           NaN
 35                                           NaN  ,
 'ALSN':    Allison Transmission Holdings Quarterly Revenue(Millions of US $)  \
 0                                          2021-09-30
 1                                          2021-06-30
 2                                          2021-03-31
 3                                          2020-12-31
 4                                          2020-09-30
 5                                          2020-06-30
 6                                          2020-03-31
 7                                          2019-12-31
 8                                          2019-09-30
 9                                          2019-06-30
 10                                         2019-03-31
 11                                         2018-12-31
 12                                         2018-09-30
 13                                         2018-06-30
 14                                         2018-03-31
 15                                         2017-12-31
 16                                         2017-09-30
 17                                         2017-06-30
 18                                         2017-03-31
 19                                         2016-12-31
 20                                         2016-09-30
 21                                         2016-06-30
 22                                         2016-03-31
 23                                         2015-12-31
 24                                         2015-09-30
 25                                         2015-06-30
 26                                         2015-03-31
 27                                         2014-12-31
 28                                         2014-09-30
 29                                         2014-06-30
 30                                         2014-03-31
 31                                         2013-12-31
 32                                         2013-09-30
 33                                         2013-06-30
 34                                         2013-03-31
 35                                         2012-12-31
 36                                         2012-09-30
 37                                         2012-06-30
 38                                         2012-03-31
 39                                         2011-12-31
 40                                         2011-09-30
 41                                         2011-06-30
 42                                         2011-03-31
 43                                         2010-12-31
 44                                         2009-12-31
 45                                         2008-12-31

    Allison Transmission Holdings Quarterly Revenue(Millions of US $).1
 0                                                $567
 1                                                $603
 2                                                $588
 3                                                $535
 4                                                $532
 5                                                $377
 6                                                $637
 7                                                $617
 8                                                $669
 9                                                $737
 10                                               $675
 11                                               $647
 12                                               $692
 13                                               $711
 14                                               $663
 15                                               $588
 16                                               $595
 17                                               $580
 18                                               $499
 19                                               $469
 20                                               $434
 21                                               $475
 22                                               $462
 23                                               $478
 24                                               $493
 25                                               $511
 26                                               $504
 27                                               $544
 28                                               $553
 29                                               $536
 30                                               $494
 31                                               $491
 32                                               $466
 33                                               $512
 34                                               $457
 35                                               $487
 36                                               $494
 37                                               $559
 38                                               $602
 39                                               $516
 40                                               $574
 41                                               $556
 42                                               $517
 43                                                NaN
 44                                                NaN
 45                                                NaN                   ,
 'AMZN':    Amazon Quarterly Revenue(Millions of US $)  \
 0                                  2021-09-30
 1                                  2021-06-30
 2                                  2021-03-31
 3                                  2020-12-31
 4                                  2020-09-30
 ..                                        ...
 62                                 2006-03-31
 63                                 2005-12-31
 64                                 2005-09-30
 65                                 2005-06-30
 66                                 2005-03-31

    Amazon Quarterly Revenue(Millions of US $).1
 0                                      $110,812
 1                                      $113,080
 2                                      $108,518
 3                                      $125,555
 4                                       $96,145
 ..                                          ...
 62                                       $2,279
 63                                       $2,977
 64                                       $1,858
 65                                       $1,753
 66                                       $1,902

 [67 rows x 2 columns],
 'AXL':    American Axle & Manufacturing Holdings Quarterly Revenue(Millions of US $)  \
 0                                          2021-09-30
 1                                          2021-06-30
 2                                          2021-03-31
 3                                          2020-12-31
 4                                          2020-09-30
 ..                                                ...
 62                                         2006-03-31
 63                                         2005-12-31
 64                                         2005-09-30
 65                                         2005-06-30
 66                                         2005-03-31

    American Axle & Manufacturing Holdings Quarterly Revenue(Millions of US $).1
 0                                              $1,213
 1                                              $1,283
 2                                              $1,425
 3                                              $1,438
 4                                              $1,414
 ..                                                ...
 62                                               $835
 63                                               $853
 64                                               $848
 65                                               $868
 66                                               $819

 [67 rows x 2 columns],
 'AMWD':    American Woodmark Quarterly Revenue(Millions of US $)  \
 0                                          2021-10-31
 1                                          2021-07-31
 2                                          2021-04-30
 3                                          2021-01-31
 4                                          2020-10-31
 ..                                                ...
 63                                         2006-01-31
 64                                         2005-10-31
 65                                         2005-07-31
 66                                         2005-04-30